.sidebar{
    color: #Fff;
    background: var(--bg-main);
    width:350px;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.maincontent{
    margin-left: 350px;
    padding: 50px;
    margin-top: 80px;
}
.header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 80px;
    background-color: var(--bg-main);
    color: #fff;
    align-items: center;
    padding-right: 30px;
}
.titleLogo{
    color: #de0018;
}
.containerlogo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
    border-bottom: 1px solid var(--bg-secondary);
}
.customer{
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    border-bottom: 1px solid var(--bg-secondary);
    padding-bottom: 30px;
}
.customer i{
    font-size: 50px;
}
.listsidebar{
    list-style: none;
    padding-top: 25px;
}

.listsidebar li{
    font-size: 20px;
    padding: 5px 0;
}